<p id="notice"><%= notice %></p>

<h1 align="center">Users Directory</h1>
<div align="center">
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'search-form' do %>
    <div class="form-group text-center w-50">
      <div>
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Enter name or email", autofocus: true, 
        class: "form-control search-box input-sm pb-2" %>
      </div>
      <div>
        <%= button_tag(type: :submit, class: "btn btn-sm btn-primary") do %>
          <i class="fa fa-search"></i> Search
        <% end %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @users %>
</div>
<%= link_to 'Add User', new_user_path, class: "btn btn-md btn-primary text-white" %>
<div id="results">
  <%= render 'users/result' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Status</th>
      <th scope="col">Last Updated</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phone %></td>
        <td><%= user.status %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate @users %>
</div>
<br>
